@using ControlGallery.Models
@using System.Diagnostics

@page "/pickerplayground"

<ContentControl Tag="@("Pickers")">
    <ScrollViewer>
        <StackPanel Margin="new(10)">
            <Label FontSize="30">
                Picker Playground
            </Label>

            <Border Height="2" Background="Brushes.Gray" HorizontalAlignment="HorizontalAlignment.Stretch" />

            <Label Padding="new(5)" FontWeight="FontWeight.Bold">Picker with models and all display properties</Label>
            <ComboBox Attached="@((Control c) => c.TextElementFontWeight(FontWeight.Bold))"
                    FontFamily="@("MarkerFelt-Thin")"
                    FontSize="20"
                    HorizontalAlignment="HorizontalAlignment.Center"
                    Foreground="Brushes.Red"
                    ItemsSource="Models"
                    PlaceholderText="Select a model"
                    
                    VerticalContentAlignment="VerticalAlignment.Bottom"
                    @bind-SelectedItem="SelectedModel">
                    <ItemTemplate>
                        <Label>
                            @context.Name
                        </Label>
                    </ItemTemplate>
            </ComboBox>
            <Label Padding="new(5)">Selected model: @(SelectedModel?.Name ?? "(none)")</Label>

            <Border Height="2" Background="Brushes.Gray" HorizontalAlignment="HorizontalAlignment.Stretch" />

            <Label Attached="(Label l) => l.TextElementFontWeight(FontWeight.Bold)">Picker with string</Label>
            <ComboBox @bind-SelectedItem="SelectedString"
                    PlaceholderText="Select a string"
                    ItemsSource="Strings">
                <ItemTemplate>
                    <Label>
                        @context
                    </Label>
                </ItemTemplate>
            </ComboBox>
            <Label>Selected string: @(SelectedString ?? "(none)")</Label>

            <Border Height="2" Background="Brushes.Gray" HorizontalAlignment="HorizontalAlignment.Stretch" />

            <Label Attached="(Label l) => l.TextElementFontWeight(FontWeight.Bold)">Picker with models and default item selected</Label>
            <ComboBox @bind-SelectedItem="SelectedModelDefault"
                    PlaceholderText="Select a model"
                    
                    ItemsSource="ModelsWithDefault">
                <ItemTemplate>
                    <Label>
                        @context.Name
                    </Label>
                </ItemTemplate>
            </ComboBox>
            <Label>Selected model: @(SelectedModelDefault?.Name ?? "(none)")</Label>

            <Border Height="2" Background="Brushes.Gray" HorizontalAlignment="HorizontalAlignment.Stretch" />

            <Label FontWeight="FontWeight.Bold">Index Based Picker</Label>
            <ComboBox ItemsSource="Models"
                    PlaceholderText="Select a model and the index will bind"
                    @bind-SelectedIndex="SelectedIndex">
                <ItemTemplate>
                    <Label>
                        @context.Name
                    </Label>
                </ItemTemplate>
            </ComboBox>
            <Label>@("Selected model: " + Models.ElementAtOrDefault(SelectedIndex)?.Name ?? "(none)")</Label>

            <Button Padding="new(20)" OnClick="ButtonClicked">Set pickers from code</Button>
        </StackPanel>
    </ScrollViewer>
</ContentControl>

@code
{
    public PickerModel SelectedModel { get; set; }

    public int SelectedIndex { get; set; } = -1;

    public List<PickerModel> Models { get; set; } =
    [
        new PickerModel { Name = "Model 1" },
        new PickerModel { Name = "Model 2" },
        new PickerModel { Name = "Model 3" },
    ];

    public string SelectedString { get; set; }

    public List<string> Strings { get; set; } =
    [
        "String 1",
        "String 2",
        "String 3",
    ];

    static PickerModel defaultModel = new PickerModel { Name = "Default Model" };
    public PickerModel SelectedModelDefault { get; set; } = defaultModel;

    public List<PickerModel> ModelsWithDefault { get; set; } =
    [
        new PickerModel{Name = "Model 1"},
        new PickerModel{Name = "Model 2"},
        defaultModel,
        new PickerModel{Name = "Model 3"},
    ];

    public void ButtonClicked()
    {
        SelectedModel = Models.LastOrDefault();
        SelectedString = Strings.LastOrDefault();
        SelectedModelDefault = ModelsWithDefault.LastOrDefault();
        SelectedIndex = -1;
    }

    public string ItemDisplay(PickerModel model)
    {
        return $"❤️{model.Name}❤️";
    }
}
