@page "/target"
@page "/target/{Name}"
@page "/target/{Name}/subpath"
@page "/target/{Name}/{Version:int}"
@page "/target/{Name}/{Version:int}/{ReleaseDate:datetime}"
@page "/long/{Long:long}"
@page "/double/{Double:double}"
@page "/float/{Float:float}"
@page "/decimal/{Decimal:decimal}"
@page "/guid/{Guid:guid}"
@page "/nullable-guid/{NullableGuid:guid?}"
@page "/bool/{Bool:bool}"
@using ControlGallery.Models

<ContentPage>
    <StackLayout>
        <Label Text="Successfully navigated using Uri navigation"></Label>
        @if (Name != null)
        {
            <Label Text="@($"Name = {Name}")"></Label>
        }
        <Label Text="@($"Version = {Version}")"></Label>
        <Label Text="@($"Release Date = {ReleaseDate}")"></Label>
        <Label Text="@($"Long = {Long}")"></Label>
        <Label Text="@($"Double = {Double}")"></Label>
        <Label Text="@($"Float = {Float}")"></Label>
        <Label Text="@($"Decimal = {Decimal}")"></Label>
        <Label Text="@($"Guid = {Guid}")"></Label>
        <Label Text="@($"Guid? = {NullableGuid}")"></Label>
        <Label Text="@($"Bool = {Bool}")"></Label>
        <Label Text="@($"Query1 = Name:{Query1?.Name}, Value:{Query1?.Value}")"></Label>
        <Label Text="@($"Query2 = Name:{Query2?.Name}, Value:{Query2?.Value}")"></Label>
    </StackLayout>
</ContentPage>

@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public int Version { get; set; }
    [Parameter] public DateTime ReleaseDate { get; set; }
    [Parameter] public long Long { get; set; }
    [Parameter] public double Double { get; set; }
    [Parameter] public float Float { get; set; }
    [Parameter] public decimal Decimal { get; set; }
    [Parameter] public Guid Guid { get; set; }
    [Parameter] public Guid? NullableGuid { get; set; }
    [Parameter] public bool Bool { get; set; }
    [Parameter] public NavigationParameterModel Query1 { get; set; }
    [Parameter] public NavigationParameterModel Query2 { get; set; }
}
